body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: lavender;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  max-width: 520px;
  display: block;
}
button {
  background-color: rgb(179, 112, 224);
  border: 10px;
  border-radius: 3px;
  padding: 5px;
}

button:hover {
  background-color: rgb(141, 95, 141);
}

.hide {
  display: none;
}
